<!DOCTYPE html>
<html>
<head>
  <title>Opinion</title>
  <%= stylesheet_link_tag    'opinion/application', media: 'all' %>
  <%= javascript_include_tag 'opinion/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
